@font-face {
	font-family: 'Dubai';
	font-weight: 300;
	src: url('dubai_light.woff') format('woff'),
		 url('dubai_light.woff2') format('woff2');
	font-display: swap;
	
}
@font-face {
	font-family: 'Dubai';
	font-style: normal;
	font-weight: 400;
	src: url('dubai_regular.woff') format('woff'),
		 url('dubai_regular.woff2') format('woff2');
	font-display: swap;
	
}
@font-face {
	font-family: 'Dubai';
	font-style: normal;
	font-weight: 600;
	src: url('dubai_medium.woff') format('woff'),
		 url('dubai_medium.woff2') format('woff2');
	font-display: swap;
	
}
@font-face {
	font-family: 'Dubai';
	font-style: normal;
	font-weight: 700;
	src: url('dubai_bold.woff') format('woff'),
		 url('dubai_bold.woff2') format('woff2');
	font-display: swap;
}