

:root, :host {
  --sys-background: #131318;
  --sys-on-background: #e5e1e9;
  --sys-surface: #131318;
  --sys-surface-dim: #131318;
  --sys-surface-bright: #39383f;
  --sys-surface-container-lowest: #0e0e13;
  --sys-surface-container-low: #1b1b21;
  --sys-surface-container: #201f25;
  --sys-surface-container-high: #2a292f;
  --sys-surface-container-highest: #35343a;
  --sys-on-surface: #e5e1e9;
  --sys-surface-variant: #46464f;
  --sys-on-surface-variant: #c7c5d0;
  --sys-inverse-surface: #e5e1e9;
  --sys-inverse-on-surface: #313036;
  --sys-outline: #918f9a;
  --sys-outline-variant: #46464f;
  --sys-shadow: #000000;
  --sys-scrim: #000000;
  --sys-surface-tint: #c0c1ff;
  --sys-primary: #c0c1ff;
  --sys-on-primary: #292a60;
  --sys-primary-container: #404178;
  --sys-on-primary-container: #e1e0ff;
  --sys-inverse-primary: #575992;
  --sys-secondary: #c1c1ff;
  --sys-on-secondary: #292a60;
  --sys-secondary-container: #404178;
  --sys-on-secondary-container: #e1dfff;
  --sys-tertiary: #82d3e0;
  --sys-on-tertiary: #00363d;
  --sys-tertiary-container: #004f58;
  --sys-on-tertiary-container: #9eeffd;
  --sys-error: #ffb4a8;
  --sys-on-error: #561e17;
  --sys-error-container: #73342b;
  --sys-on-error-container: #ffdad4;
  --sys-neutral: #78767d;
  --sys-neutral-variant: #777680;
  --sys-primary-fixed: #e1e0ff;
  --sys-primary-fixed-dim: #c0c1ff;
  --sys-on-primary-fixed: #13144a;
  --sys-on-primary-fixed-variant: #404178;
  --sys-secondary-fixed: #e1dfff;
  --sys-secondary-fixed-dim: #c1c1ff;
  --sys-on-secondary-fixed: #14134a;
  --sys-on-secondary-fixed-variant: #404178;
  --sys-tertiary-fixed: #9eeffd;
  --sys-tertiary-fixed-dim: #82d3e0;
  --sys-on-tertiary-fixed: #001f24;
  --sys-on-tertiary-fixed-variant: #004f58;
  --sys-inverse-secondary: #585992;
  --sys-inverse-tertiary: #006874;
  --sys-inverse-error: #904b40;
  --sys-error-fixed: #ffdad4;
  --sys-error-fixed-dim: #ffb4a8;
  --sys-on-error-fixed: #3a0905;
  --sys-on-error-fixed-variant: #73342b;
}
